# Backend environment sample

secret_key=changeme
debug=True
database_url=postgres://user:pass@host:5432/dbname
direct_url=http://your-frontend.example.com
allowed_hosts=your-backend.example.com,localhost,127.0.0.1
secure_ssl_redirect=True
session_cookie_secure=True
csrf_cookie_secure=True
secure_hsts_seconds=3600
secure_hsts_include_subdomains=True
secure_hsts_preload=True
